/*============================================================
  ====================     Base Style     ====================
  ============================================================*/

@charset "UTF-8";

section {
  padding: 40px 0;
  > div > p{
    padding: 3% 20%;
  }
}
body {
  font-family: 'Montserrat', sans-serif;
}
p {
  // font-size: 20px;
}
a:hover {
  color: $hover-color;
  text-decoration: none;
}
h2{
  margin-bottom: 50px;
	font:{
    size: 50px;
    weight: bold;
    family: 'Open Sans', sans-serif;
  }
}
.under-h2{
  margin: 2% auto; 
}
.fa {
  transition: .6s;
}