/*============================================================
  ====================   Footer Style     ====================
  ============================================================*/

#footer{
  background-color: $blc;
  color: $wc;
  .fa-google-plus:hover{
    background-color: $hbc;
    color: $wc;
  }
  .navbar-text{
    padding: 15px 0;
  }
  .navbar-left{
    margin-left: 35%;
    a{
      transition: .5s;
      font-family: Forte;
    }
    span{
      color: $hbc;
    }
  }
}

#topper .affix a{
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: red;
  color: #fff;
  padding: 7px 15px;
  border-radius: 50%;
}