@import 'variable';
@import 'mixin';
@import 'base';
@import 'button';
@import 'navbar';
@import 'breadcrumb';
@import 'contact';
@import 'support';
@import 'footer';

#abouts {
	.zoom {
		overflow: hidden;
		.zoomin {
			-webkit-transition: all 0.7s ease;
			transition: all 0.7s ease;
		}
		&:hover .zoomin {
			-webkit-transform:scale(1.3);
			transform:scale(1.3);
		}
	}
}

.childtwo {
	position: relative;
	overflow: hidden;
	height: 450px;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-transition: opacity 1.1s ease;
		transition: opacity 1.1s ease;
	}
	&:hover .rabeya {
		opacity: 0;
	}
}

#real {
	p {
		height: 400px;
		overflow: auto;
	}
}
#videos {
	h3 {
		font-size: 40px;
		margin-bottom: 30px;
	}
	video {
		width: 100%;
		height: 100%;
	}
	.col-md-4 {
		video {
			margin-bottom: 20px;
		}
	}
}

#evens {
	background-color: #ddd;
	h3 {
		margin-bottom: 50px;
	}
	i {
		margin-right: 20px;
		color: #000;
	}
}
