/*============================================================
  ====================   Counter Style    ====================
  ============================================================*/
#rate{
	color: $wc;
	background-color: rgba(0,0,0,.6);
	.count{
		margin-bottom: 50px;
	}
	.row{
		.col-md-3:first-child {
		border-right: 2px solid $hover-color;
		}
		.col-md-3:nth-child(3){
			border-right: 2px solid $hover-color;
			border-left: 2px solid $hover-color;
		}
	}
}

