/*============================================================
  ====================    Donor Style     ====================
  ============================================================*/

#donor{
	h3{
		font-size: 40px;
	}
	.item{
		padding: 20px 0;
		q{
			padding-top: 50px; 
		}
		img {
			border: 2px solid $hover-color;
			border-radius: 50%;
		}
	}
}