/*============================================================
  ====================    We Do Style     ====================
  ============================================================*/
#service{
	.panel-heading{
		span{
			float: right;
		}
	}
	.panel-body{
		height: 245px;
		overflow: auto;
	}
	.col-md-6{
		margin-bottom: 20px;
	}
}
