@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin input-style($display:inline,$height:25px,$padding:20px){
	display: $display;
	height: $height;
	padding: $padding;
}

@mixin button-style($btn-border,$btn-radius,$btn-padding,$wc,$fc){
	border: $btn-border;
	border-radius: $btn-radius;
	padding: $btn-padding;
	color: $wc;
	font-size: $fc;
	&:hover{
		background-color: $hbc;
		color: $wc;
	}
}